@import 'helpers/mixins.styl'
@import 'helpers/var.styl'

@import 'base/font.styl'
@import 'base/base.styl'
@import 'base/z-index.styl'

@import 'blocks/loader.styl'
@import 'blocks/btn.styl'
@import 'blocks/table.styl'

@import 'blocks/text-page.styl'

@import 'blocks/section.styl'
@import 'blocks/header.styl'
@import 'blocks/panel.styl'
@import 'blocks/logo.styl'
@import 'blocks/menu.styl'
@import 'blocks/text-block.styl'
@import 'blocks/tokens.styl'
@import 'blocks/social.styl'
@import 'blocks/stages.styl'
@import 'blocks/progress.styl'
@import 'blocks/date.styl'

@import 'blocks/main.styl'
@import 'blocks/about.styl'
@import 'blocks/roadmap.styl'
@import 'blocks/roadmap-item.styl'
@import 'blocks/potential.styl'
@import 'blocks/capacity.styl'
@import 'blocks/advantages.styl'
@import 'blocks/differences.styl'
@import 'blocks/conditions-section.styl'
@import 'blocks/profit.styl'
@import 'blocks/product.styl'
@import 'blocks/benefit.styl'
@import 'blocks/team.styl'
@import 'blocks/team-item.styl'
@import 'blocks/news.styl'
@import 'blocks/news-item.styl'
@import 'blocks/videos.styl'
@import 'blocks/slider-videos.styl'
@import 'blocks/all-videos.styl'
@import 'blocks/bounty.styl'
@import 'blocks/modal.styl'
@import 'blocks/form.styl'

@import 'blocks/footer.styl'
@import 'blocks/bottom-line.styl'

@import 'blocks/game-img.styl'

@import 'blocks/nav-left.styl'
@import 'blocks/content-right.styl'
@import 'blocks/link-referral.styl'

@import 'blocks/block-progress.styl'
@import 'blocks/block-instructions.styl'
@import 'blocks/block-payment.styl'
@import 'blocks/block-calculate.styl'
@import 'blocks/block-copy.styl'

@import 'blocks/block-balance.styl'
@import 'blocks/message-security.styl'

@import 'blocks/block-referral.styl'

@import 'blocks/block-transactions.styl'

@import 'blocks/block-settings.styl'

@import 'blocks/news-list.styl'
@import 'blocks/news-block.styl'
@import 'blocks/pagination.styl'
@import 'blocks/full-news.styl'

@import 'blocks/game.styl'


