html
    box-sizing border-box
    font-size 62.5%
    height 100%

*, *:before, *:after
    box-sizing inherit

body
    height 100%
    min-width 320px
    font-family HeliosCond, arial, verdana, sans-serif
    background-color white
    font-weight 400
    font-style normal
    line-height normal
    color black
    display flex
    flex-direction column

.container
    position relative
    max-width 1120px
    padding-left 10px
    padding-right 10px
    margin-left auto
    margin-right auto

p
    margin-bottom 10px

    &:last-child
        margin-bottom 0
