@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProLight/GothamProLight.woff') format('woff'),
       url('../fonts/GothamProLight/GothamProLight.woff2') format('woff2'),
       url('../fonts/GothamProLight/GothamProLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProLightItalic/GothamProLightItalic.woff') format('woff'),
       url('../fonts/GothamProLightItalic/GothamProLightItalic.woff2') format('woff2'),
       url('../fonts/GothamProLightItalic/GothamProLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProRegular/GothamProRegular.woff') format('woff'),
       url('../fonts/GothamProRegular/GothamProRegular.woff2') format('woff2'),
       url('../fonts/GothamProRegular/GothamProRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProBold/GothamProBold.woff') format('woff'),
       url('../fonts/GothamProBold/GothamProBold.woff2') format('woff2'),
       url('../fonts/GothamProBold/GothamProBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProBlack/GothamProBlack.woff') format('woff'),
       url('../fonts/GothamProBlack/GothamProBlack.woff2') format('woff2'),
       url('../fonts/GothamProBlack/GothamProBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.main
    p:nth-child(1)
        font-family GothamPro
        font-weight 300
        font-style normal

    p:nth-child(2)
        font-family GothamPro
        font-weight 300
        font-style italic

    p:nth-child(3)
        font-family GothamPro
        font-weight 400
        font-style normal

    p:nth-child(4)
        font-family GothamPro
        font-weight 700
        font-style normal

    p:nth-child(5)
        font-family GothamPro
        font-weight 900
        font-style normal
