//.btn
//    z-index 1
//
//.footer
//    z-index 9
//
//
//.header
//    z-index 9

.loader
    z-index 5

.game-img
    z-index 4

.panel
    &__menu
        z-index 1

.roadmap
    .slick-list
        z-index 1

.product
    &__title
        z-index 1

    &__text
        z-index 1

.nav-left
    z-index 2

    &__btn
        z-index 3
