.about
    background-color #f8fcfb
    background-image url(../img/bg-earth-g.png)
    background-position center
    background-repeat no-repeat
    font-size 0

    &__text
        font-size-func(14)
        line-height 24px
        line-height 2.4rem
        margin-bottom 30px
        text-align justify

        @media (min-width 768px)
            font-size-func(16)
            margin-bottom 50px

        p
            text-shadow 0 0 0 white
            text-indent 35px

    &__videos-wrap
        text-align center

    &__videos-item
        position relative
        height (210.9375/1.4)px
        width (375/1.4)px
        overflow hidden
        background-color white
        transition all 1s ease
        margin-left auto
        margin-right auto

        @media (min-width 480px)
            height (210.9375*1.2)px
            width (375*1.2)px

        @media (min-width 768px)
            height (210.9375*1.5)px
            width (375*1.5)px

        @media (min-width 1100px)
            height (210.9375*1.9)px
            width (375*1.9)px

        &:focus
            outline none

    &__youtube
        background-position center
        background-repeat no-repeat
        background-size 101%
        position relative
        display inline-block
        overflow hidden
        transition all 200ms ease-out
        cursor pointer
        width inherit
        height inherit

    &__play
        background inline('play-icon.svg') no-repeat
        background-position center
        background-size 15%
        position absolute
        height 100%
        width 100%
        opacity .8
        transition all 0.2s ease-out

        &:hover
            opacity 1
