.advantages
    background-color #f2f5bf
    background-image url(../img/bg-earth-w.png)
    background-repeat no-repeat
    background-position center
    font-size 0

    &__text
        hyphens()
        font-size-func(14)
        line-height 24px
        line-height 2.4rem
        text-align justify
        margin-bottom 50px

        @media (min-width 768px)
            font-size-func(16)
            margin-bottom 90px

        p
            text-indent 35px

    &__list
        padding-left 0
        list-style none
        margin-top 0
        margin-bottom 0

    &__item
        {ibt}
        text-align center
        width 100%
        padding-left 10px
        padding-right 10px
        margin-bottom 40px

        @media (min-width 768px)
            width 50%
            margin-bottom 50px

        @media (min-width 992px)
            width 33.33%
            margin-bottom 60px

        &:nth-last-child(-n+2)
            @media (min-width 768px)
                margin-bottom 0

        &:nth-last-child(-n+3)
            @media (min-width 992px)
                margin-bottom 0

        &:first-child
            .advantages__item-icon
                background-image url(../img/advantages-img1.png)

        &:nth-child(2)
            .advantages__item-icon
                background-image url(../img/advantages-img2.png)

        &:nth-child(3)
            .advantages__item-icon
                background-image url(../img/advantages-img3.png)

        &:nth-child(4)
            .advantages__item-icon
                background-image url(../img/advantages-img4.png)

        &:nth-child(5)
            .advantages__item-icon
                background-image url(../img/advantages-img5.png)

        &:last-child
            margin-bottom 0

            .advantages__item-icon
                background-image url(../img/advantages-img6.png)

    &__item-icon
        background-color #45bc75
        background-repeat no-repeat
        background-position center
        width 150px
        height 150px
        margin-left auto
        margin-right auto
        margin-bottom 20px
        box-shadow 5px 5px 15px 0 rgba(0, 0, 0, 0.4)

        @media (min-width 768px)
            margin-bottom 30px

        @media (min-width 992px)
            margin-bottom 40px

    &__item-text
        text-transform uppercase
        font-size-func(17)

        @media (min-width 768px)
            font-size-func(20)

        @media (min-width 992px)
            font-size-func(23)
