.balance
    padding-bottom 87px

    &__title
        h1
            margin-top 0
            margin-bottom 18px
            font-weight 400
            font-size-func(24)

    &__block
        background-color white
        border-radius 7px
        padding 20px
        box-shadow 0 0 15px 0px rgba(0, 0, 0, 0.05)

        &:not(:last-child)
            margin-bottom 26px
