.benefit
    font-size 0
    background-color #f8fcfb

    &__text
        hyphens()
        font-size-func(14)
        line-height 24px
        line-height 2.4rem
        text-align justify

        @media (min-width 768px)
            font-size-func(16)

        @media (min-width 992px)
            {ibt}
            width 50%

        p
            margin-bottom 25px
            text-indent 35px

        ul
            padding-left 15px
            text-align left

    &__img
        height 400px
        background-image url(../img/arrow-trees-img.png)
        background-repeat no-repeat
        background-position center bottom
        background-size contain

        @media (min-width 400px)
            height 450px

        @media (min-width 480px)
            height 500px

        @media (min-width 992px)
            {ibt}
            width 48%
            margin-left 2%

        span
            font-size-func(44)
            color #00ddb6

            @media (min-width 480px)
                font-size-func(49)

            @media (min-width 768px)
                font-size-func(54)

            @media (min-width 992px)
                font-size-func(59)

            @media (min-width 1265px)
                font-size-func(64)
