.block-payment
    &__title
        margin-bottom 38px
        font-size-func(18)

    &__crypto-wrap
        padding-left 0
        margin-bottom 35px

    &__crypto-item
        {ibt}
        width 31.36%
        height 164px
        margin-right 2.96%
        margin-bottom 20px
        padding-top 110px
        border 1px solid #dddddd
        text-align center
        background-position center 18px
        background-repeat no-repeat

        @media (min-width 1050px)
            width 15.83%
            margin-right 1%
            margin-bottom 0

        @media (min-width 1265px)
            width 15%
            margin-right 2%

        &:nth-child(3)
            margin-right 0

            @media (min-width 1050px)
                margin-right 1%

            @media (min-width 1265px)
                margin-right 2%

        &:last-child
            margin-right 0

        &_dash
            background-image url(../img/dash.png)

        &_eth
            background-image url(../img/eth.png)

        &_ltc
            background-image url(../img/ltc.png)

        &_btc
            background-image url(../img/btc.png)

        &_bch
            background-image url(../img/bch.png)

        &_card
            background-image url(../img/card.png)

    &__crypto-text
        font-size-func(12)
        margin-bottom 5px

    &__crypto-name
        font-size-func(14)
        text-transform uppercase
        color #76bb43
        font-weight 700

    &__link
        font-size-func(12)
        min-width 205px
        max-width 100%
