.block-calculate
    padding-bottom 35px
    display none
    position relative

    &__back
        color $green-color
        font-size-func(14)
        position absolute
        top 0
        right 0
        padding 20px 22px 20px 30px
        border none
        background none
        border-radius 3px
        outline none

        &:hover, &:focus
            cursor pointer
            color white
            background-color $green-color

            &:after
                background-color white

            &:before
                border-color white

        &:after
            content ''
            height 2px
            width 12px
            background-color $green-color
            position absolute
            left 10px
            top 50%
            transform translateY(-50%)

        &:before
            content ''
            height 7px
            width 7px
            border-top 2px solid $green-color
            border-left 2px solid $green-color
            position absolute
            left 10px
            top 50%
            transform translateY(-50%) rotate(-45deg)


    &__title
        position relative
        margin-bottom 28px
        font-size-func(18)
        margin-right 75px
        padding-left 35px

        &:after
            content '02.'
            color $green-color
            font-weight 700
            position absolute
            top 0
            left 0

    &__text
        font-size-func(12)

        &_small
            font-weight 400

        &_bold
            font-weight 700

    &__exchange-img-block
        font-size 0
        margin-top 25px
        margin-bottom 32px

    &__exchange-img-wrap
        position relative

    &__exchange-img
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
        background-image url(../img/sprite-crypt.png)

        &_dash
            background-position -93px -188px
            width 72px
            height 73px

        &_card
            background-position -115px -93px
            width 73px
            height 73px

        &_dollar
            background-position -208px 0px
            width 73px
            height 73px

        &_euro
            background-position -208px -93px
            width 73px
            height 73px

        &_waves
            background-position 0px -188px
            width 73px
            height 73px

        &_btc
            background-position -115px 0px
            width 73px
            height 73px

        &_bch
            background-position 0px 0px
            width 95px
            height 72px

        &_eth
            background-position -301px 0px
            width 49px
            height 77px

        &_ltc
            background-position 0px -92px
            width 76px
            height 76px

    &__exchange-item
        border 1px solid $grey-light-color
        width 130px
        height 130px
        {ibt}

        @media (min-width 600px)
            width 140px
            height 140px

        &:first-child
            margin-right 100px
            position relative
            background-image url(../img/dash.png)
            background-position center
            background-repeat no-repeat

            &:after
                content ''
                position absolute
                top 50%
                right -65px
                height 17px
                width 17px
                border-top 3px solid $grey-light-color
                border-right 3px solid $grey-light-color
                transform rotate(45deg) translateY(-70%)

            &:before
                content ''
                position absolute
                top 50%
                right -74px
                transform translateY(-50%)
                height 3px
                width 48px
                background-color $grey-light-color

        &:last-child
            background-image url(../img/logo.png)
            background-size 70%
            background-position center
            background-repeat no-repeat

    &__rates-row
        margin-bottom 20px

        .block-calculate__text_small
            margin-right 5px

        & > div
            {ibt}

    .form__row
        max-width 380px
        margin-top 18px
        margin-bottom 28px

        label
            {ibt}
            width 47%
            position relative

            &:first-child
                margin-right 6%

            &:last-child
                &:before
                    content 'lbc'

            &:before
                position absolute
                text-transform uppercase
                right 10px
                top 33px
                font-size-func(12)
                color $green-color
                font-weight 700

            &.dash
                &:before
                    content 'dash'

            &.eth
                &:before
                    content 'eth'

            &.ltc
                &:before
                    content 'ltc'

            &.btc
                &:before
                    content 'btc'

            &.bch
                &:before
                    content 'bch'

            &.card
                &:before
                    content 'card'

            &.waves
                &:before
                    content 'waves'

        input
            padding-right 55px

