.block-copy
    padding-bottom 39px

    &__title
        margin-bottom 28px
        font-size-func(18)

    .form__row
        margin-bottom 30px

        input
            max-width 480px

    .form__row_btn
        margin-bottom 0

    .form__btn
        padding-top 18px
        padding-bottom 18px
