.block-progress
    padding-bottom 30px

    &__text
        hyphens()

        &_big
            font-size-func(18)
            font-weight 400

        &_small
            font-size-func(12)
            font-weight 400
            margin-bottom 25px

        &_bold
            font-size-func(12)
            font-weight 700

    &__progress
        margin-top 33px
        margin-bottom 33px
