.block-referral
    &__title
        font-size-func(16)
        color $green-color
        font-weight 700
        margin-bottom 20px
        hyphens()

    &__text
        hyphens()
        font-size-func(14)
        color $grey-dark-color
        margin-bottom 20px
        font-weight 300

        @media (min-width 768px)
            font-size-func(16)

        p
            &:not(:last-child)
                margin-bottom 20px

    &__link-referral
        margin-bottom 25px

    &__referral-table
        margin-bottom 15px

    &__pagination
        text-align center
        margin-bottom 28px
