.block-transactions
    min-height 600px
    position relative

    &__list
        font-size-func(12)

    &__not
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        padding-top 130px
        font-size-func(12)
        color #9ea9b1
        background-image inline('logo-grey.png')
        background-repeat no-repeat
        background-position center 0
        opacity .5

    &_no
        .block-transactions__list
            display none

        .block-transactions__not
            display block

    &_yes
        .block-transactions__list
            display block

        .block-transactions__not
            display none
