.block-referral
    &__title
        font-size-func(18)
        color #76bb43
        font-weight 700
        margin-bottom 20px

    &__text
        font-size-func(12)
        color #9ea9b1
        margin-bottom 20px
        font-weight 300

        p
            &:not(:last-child)
                margin-bottom 20px

    &__link-wrap
        margin-bottom 30px

    &__link-text
        font-weight 700
        font-size-func(12)

    &__link
        {ibm}
        color #007db3
        font-size-func(18)
        font-weight 700
        margin-right 25px

    &__link-btn
        {ibm}
        padding-top 13px
        padding-bottom 13px
        min-width 195px

    &__referral-table
        margin-bottom 28px
