.block-balance
    &__message-security
        position relative
        margin-bottom 35px

    &__balance-row
        margin-bottom 28px
        ellipsis()

        & > div
            max-width 50%
            ellipsis()
            {ibm}

    &__value
        {ibm}
        margin-left 12px
        font-weight 700
        color $green-color

    &__list
        padding-left 15px
        margin-top 0
        margin-bottom 35px

        li
            hyphens()

            &:not(:last-child)
                margin-bottom 23px

    &__form
        margin-bottom 28px

        .form__row
            margin-bottom 0

            @media (min-width 992px)
                {ibb}

            &:first-child
                width 100%
                max-width 480px
                margin-bottom 10px

                @media (min-width 992px)
                    margin-right 23px
                    margin-bottom 0

    &__btn
        input
            padding-top 10.5px
            padding-bottom 10.5px

    &__text-bottom
        .block-balance__text
            &:not(:last-child)
                margin-bottom 23px

    &__text
        hyphens()
        font-size-func(14)

        @media (min-width 768px)
            font-size-func(16)

        &_grey
            color $grey-color

        &_big
            font-size-func(14)

            @media (min-width 768px)
                font-size-func(16)

