.block-settings
    padding-bottom 63px

    &__title
        font-size-func(14)
        font-weight 700
        margin-bottom 30px

    &__print-wrap
        text-align center
        margin-bottom 65px

        @media (min-width 992px)
            text-align left

    &__qr
        {ibm}
        padding 33px
        border 1px solid #d8d5d5
        margin-right 0
        margin-bottom 20px

        @media (min-width 992px)
            margin-right 10%
            margin-bottom 0

    &__info-wrap
        display block
        max-width none
        font-size-func(12)

        @media (min-width 992px)
            {ibm}
            max-width 380px

    &__key-block
        background-color #f8f9fd
        border 1px solid #d8d5d5
        text-align center
        padding 14px 24px
        margin-bottom 11px

    &__print-btn
        width 100%
        padding-top 12px
        padding-bottom 12px
        margin-bottom 11px
        max-width 380px

        @media print
            display none

    &__print-message
        background-color #f8f9fd
        border 1px solid #d8d5d5
        padding 14px 24px

    &__form
        .form__row
            margin-bottom 43px

    &__notice-title
        font-size-func(18)
        color #76bb43
        margin-bottom 33px
        text-transform uppercase
        font-weight 700

    &__notice-text
        font-size-func(12)
        margin-bottom 34px
        max-width 480px
        line-height 1.5

    &__btn
        min-width 350px
        padding-top 12px
        padding-bottom 12px


