.block-traiding
    min-height 600px

    &__table
        table-layout auto

        thead
            color #3e5464

        tbody
            td
                &:nth-last-child(2)
                    color #76bb43

                &:last-child
                    color #76bb43
                    padding-top 4px
                    padding-bottom 4px

            span
                {ibm}
                padding-top 10px

    &__demo
        color #9ea9b1
        text-transform uppercase

    &__btn
        {ibm}
        padding-top 8px
        padding-bottom 8px
        float right
