.block-transactions
    min-height 600px
    position relative

    &__not
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        padding-top 130px
        font-size-func(14)
        color $grey-dark-color
        background-image inline('logo-grey.png')
        background-repeat no-repeat
        background-position center 0
        opacity .5

        @media (min-width 768px)
            font-size-func(16)

    &__transactions-table
        margin-bottom 15px

    &__pagination
        text-align center

    &_no
        .block-transactions__transactions-table
            display none

        .block-transactions__pagination
            display none

        .block-transactions__not
            display table

    &_yes
        .block-transactions__transactions-table
            display table

        .block-transactions__pagination
            display block

        .block-transactions__not
            display none
