.block-referral
    &__title
        font-size-func(18)
        color $green-color
        font-weight 700
        margin-bottom 20px
        hyphens()

    &__text
        hyphens()
        font-size-func(12)
        color $grey-dark-color
        margin-bottom 20px
        font-weight 300

        p
            &:not(:last-child)
                margin-bottom 20px

    &__link-referral
        margin-bottom 25px

    &__referral-table
        margin-bottom 28px
