.bottom-line
    background-color #ededed
    padding-top 20px
    padding-bottom 20px
    font-size 0

    @media (min-width 768px)
        padding-top 30px
        padding-bottom 30px

    @media (min-width 992px)
        padding-top 37px
        padding-bottom 37px

    @media (min-width 1265px)
        padding-top 45px
        padding-bottom 45px

    &__logo
        display none

        @media (min-width 624px)
            width 68px
            height 69.3px
            margin-left auto
            margin-right auto
            background-image inline('logo-grey.png')
            background-repeat no-repeat
            background-size contain
            margin-bottom 0
            width 102px
            height 104px
            {ibm}
            width 30%

    &__social
        text-align center
        margin-bottom 25px

        @media (min-width 480px)
            {ibm}
            width 70%
            text-align right

        @media (min-width 624px)
            width 40%
            margin-bottom 0
            text-align center

    &__copyright
        font-size-func(12)
        color #b9b9b9
        text-align center
        hyphens()

        @media (min-width 624px)
            {ibm}
            width 30%
            text-align right
