.buy
    color #3d5364
    font-size 0

    &__title
        h1
            margin-top 0
            margin-bottom 18px
            font-weight 400
            font-size-func(24)

    &__block
        background-color white
        border-radius 7px
        padding 20px
        box-shadow 0 0 15px 0px rgba(0, 0, 0, 0.05)

    &__text
        &_big
            font-size-func(18)
            font-weight 400

        &_small
            font-size-func(12)
            font-weight 400
            margin-bottom 25px

        &_bold
            font-size-func(12)
            font-weight 700

    &__progress
        margin-top 33px
        margin-bottom 33px
