.buy
    color #3d5364
    font-size 0
    padding-bottom 87px

    &__title
        h1
            margin-top 0
            margin-bottom 18px
            font-weight 400
            font-size-func(24)

    &__block
        background-color white
        border-radius 7px
        padding 20px
        box-shadow 0 0 15px 0px rgba(0, 0, 0, 0.05)

        &:not(:last-child)
            margin-bottom 26px

    &__title-block
        margin-bottom 38px

    &__text
        &_big
            font-size-func(18)
            font-weight 400

        &_small
            font-size-func(12)
            font-weight 400
            margin-bottom 25px

        &_bold
            font-size-func(12)
            font-weight 700

    &__progress
        margin-top 33px
        margin-bottom 33px

    &__crypto-wrap
        padding-left 0
        margin-bottom 35px

    &__crypto-item
        padding-bottom 18px
        {ibt}
        width 15%
        padding-top 110px
        border 1px solid #dddddd
        text-align center
        background-position center 18px
        background-repeat no-repeat

        &:not(:last-child)
            margin-right 2%

        &_dash
            background-image url(../img/dash.png)

        &_eth
            background-image url(../img/eth.png)

        &_ltc
            background-image url(../img/ltc.png)

        &_btc
            background-image url(../img/btc.png)

        &_bch
            background-image url(../img/bch.png)

        &_card
            background-image url(../img/card.png)

    &__crypto-text
        font-size-func(12)
        margin-bottom 5px

    &__crypto-name
        font-size-func(14)
        text-transform uppercase
        color #76bb43
        font-weight 700

    &__link
        {ibm}
        position relative
        text-transform uppercase
        color white
        background-color #76bb43
        text-decoration none
        font-weight 700
        font-size-func(12)
        padding 18px 10px
        text-align center
        border-radius 100px
        text-align center
        transition all .15s ease
        z-index 1
        ellipsis()
        min-width 205px
        max-width 80%

        &:focus
            outline none
            background-color #93cc69

        &:hover
            background-color #93cc69

        &:active
            transform scale(.95)
