.capacity
    background url(../img/dots-bg.png.png) center / cover no-repeat, linear-gradient(-27deg, #30b4b8 21%, #59dcba 50%, #8dba4e 78%) center
    animation gradient 10s ease infinite alternate

    .section__title
        color white

    &__text
        color white

    &__chart
        text-align center
