.conditions-section
    padding-top 15px
    padding-bottom 18px
    font-size 0
    background-color #f8fcfb

    @media (min-width 480px)
        padding-top 19px
        padding-bottom 22px

    @media (min-width 768px)
        padding-top 22px
        padding-bottom 32px

    @media (min-width 992px)
        padding-top 27px
        padding-bottom 42px

    @media (min-width 1265px)
        padding-top 32px
        padding-bottom 77px

    &__title
        hyphens()

        h2
            text-align center
            font-weight 300
            font-size-func(35)
            margin-top 0
            margin-bottom 25px

            @media (min-width 480px)
                font-size-func(38)
                margin-bottom 40px

            @media (min-width 768px)
                font-size-func(41)
                margin-bottom 50px

            @media (min-width 992px)
                font-size-func(44)
                margin-bottom 60px

            @media (min-width 1265px)
                font-size-func(48)
                margin-bottom 78px

    &__text
        hyphens()
        font-size-func(14)
        line-height 24px
        line-height 2.4rem
        text-align center

        @media (min-width 768px)
            text-align left

        @media (min-width 992px)
            {ibt}
            width 49%

        p
            margin-bottom 25px

    &__chart-wrap
        text-align center
        margin-bottom 40px

        @media (min-width 992px)
            {ibt}
            width 49%
            margin-left 0
            margin-right 2%
            margin-bottom 0

        img
            {ibt}
            width 100%
            max-width 600px
            margin-bottom 20px

    &__chart-desc
        font-size-func(16)
        font-weight 700
        hyphens()
