.conditions-section
    font-size 0
    background-color #f8fcfb

    &__text
        hyphens()
        font-size-func(14)
        line-height 24px
        line-height 2.4rem
        text-align center

        @media (min-width 768px)
            text-align left

        @media (min-width 992px)
            {ibm}
            width 47%

        p
            margin-bottom 10px

        ul
            padding-left 0
            list-style none

    &__icon
        {ibm}
        width 13px
        height 13px
        margin-right 10px
        margin-bottom 2px

    &__chart-wrap
        text-align center
        margin-bottom 40px
        margin-left 0
        margin-right 0

        @media (min-width 992px)
            {ibm}
            width 47%
            margin-right 6%
            margin-bottom 0

        img
            {ibt}
            width 100%
            max-width 600px
            margin-bottom 20px
