.content-right
    font-size 0
    padding-bottom 87px
    padding-left 30px
    padding-right 30px

    @media (min-width 768px)
        padding-left 241px

    @media print
        padding-left 30px

    &__balance, &__earn, &__transactions, &__settings
        display none

    &__panel
        text-align right
        border-bottom 1px solid #f0f0f0
        margin-bottom 30px
        margin-left -40px
        margin-right -40px

        @media print
            display none

    &__title
        hyphens()

        h2
            margin-top 0
            margin-bottom 18px
            font-weight 400
            font-size-func(24)

        @media print
            display none

    &__block
        background-color white
        border-radius 7px
        padding 20px
        box-shadow 0 0 15px 0px rgba(0, 0, 0, 0.05)

        .content-right__block-title
            &:after
                color $green-color
                font-weight 700
                position absolute
                top 0
                left 0

        &:first-child
            .content-right__block-title
                &:after
                    content '01.'

        &:nth-child(2)
            .content-right__block-title
                &:after
                    content '02.'

        &:nth-child(3)
            .content-right__block-title
                &:after
                    content '03.'

        &:nth-child(4)
            .content-right__block-title
                &:after
                    content '04.'

        &:nth-child(5)
            .content-right__block-title
                &:after
                    content '05.'

        &:nth-child(6)
            .content-right__block-title
                &:after
                    content '06.'

        &:not(:last-child)
            margin-bottom 26px
