.form
    &__row
        display block
        text-align left
        margin-bottom 18px
        font-size-func(12)

        p
            margin-bottom 8px
            font-weight 700
            ellipsis()

        span
            color #9ea9b1
            font-style italic

        input
            width 100%
            padding 12px
            color #3d5364
            border 1px solid #dddddd

            &:focus
                outline-color #00d08e

            &::-webkit-input-placeholder
                color #9ea9b1
            &::-moz-placeholder
                color #9ea9b1
            &:-moz-placeholder
                color #9ea9b1
            &:-ms-input-placeholder
                color #9ea9b1

        &_many-items
            font-size 0
            margin-bottom 3px

            p
                font-size-func(12)

            input
                opacity 0
                position absolute

                & + label
                    {ibt}
                    font-size-func(12)
                    cursor pointer
                    border 1px solid #dddddd
                    width 45%
                    margin-right 10%
                    padding 12px 0
                    margin-bottom 15px
                    text-align center
                    color #9ea9b1
                    transition all .3s ease
                    hyphens()

                    @media (min-width 480px)
                        width 20.5%
                        margin-right 6%

                    @media (min-width 580px)
                        width 17.6%
                        margin-right 3%

                    &:nth-of-type(5n)
                        @media (min-width 580px)
                            margin-right 0

                    &:nth-of-type(2n)
                        @media (max-width 479px)
                            margin-right 0

                    &:nth-of-type(4n)
                        @media (min-width 480px) and (max-width 579px)
                            margin-right 0

                    &:last-of-type
                        margin-right 0

                &:checked + label
                    border 1px solid #00d08e
                    outline 1px solid #00d08e
                    color #3d5364

                &:focus + label
                    outline 1px solid #00d08e

                &:hover + label
                    outline 1px solid #00d08e

        &_two-items
            font-size 0

            label
                display block
                font-size-func(12)
                margin-bottom 10px

                @media (min-width 480px)
                    {ibb}
                    width 55.8%
                    margin-right 6%
                    margin-bottom 0

                @media (min-width 580px)
                    width 58.8%
                    margin-right 3%

            .jq-selectbox
                border 1px solid #dddddd
                padding 3px 10px
                height 39px
                transition all .1s ease
                display block
                font-size-func(12)

                @media (min-width 480px)
                    {ibb}
                    width 38.2%

                &:hover
                    background-color white

                    .jq-selectbox__select
                        color #3d5364

                    .jq-selectbox__trigger-arrow
                        border-top-color #3d5364

                &.opened
                    background-color white
                    border-bottom-left-radius 0
                    border-bottom-right-radius 0

                    .jq-selectbox__select
                        color #3d5364

                    .jq-selectbox__trigger-arrow
                        border-top-color #3d5364

                &.focused.opened
                    outline none

                &.focused
                    outline 1px solid #00d08e

                &__select
                    background transparent
                    color #3d5364
                    text-shadow none
                    box-shadow none
                    border none
                    font-weight 700
                    text-transform uppercase
                    font-size-func(14)
                    padding-left 0
                    padding-right 20px

                &__select-text
                    text-transform none
                    font-weight 400
                    font-size-func(12)

                &.focused
                    .jq-selectbox__select
                        border none

                &__trigger
                    border-left none
                    width 20px

                &__trigger-arrow
                    border-top-color #3d5364
                    border-width 4px
                    top 50%
                    left none
                    right 0
                    transform translate(-4px, -2px)

                &__dropdown
                    margin 0
                    left 0
                    box-shadow none
                    border none
                    font-family GothamPro, arial, verdana, sans-serif
                    font-size-func(12)

                ul
                    border 1px solid #dddddd

                li
                    padding 7px 0
                    text-align center
                    transition all .1s ease

                    &:hover
                        background-color rgba(0, 208, 142, 0.5)

                    &.selected
                        background-color #00d08e

                        &:hover
                            background-color rgba(0, 208, 142, 0.5)

        &_check
            margin-bottom 25px

            input
                {ibm}
                width auto
                opacity 0
                position absolute

                & + span
                    display block
                    position relative
                    padding 5px
                    margin-left 30px
                    hyphens()

                    &:hover
                        cursor pointer

                    &:before
                        content ''
                        width 17px
                        height 17px
                        border 4px solid white
                        outline 1px solid #dddddd
                        background-color white
                        position absolute
                        left -24px
                        top 50%
                        transform translateY(-50%)
                        transition all .15s ease

                &:checked + span
                    &:before
                        background-color #3d5364

                &:focus + span
                    &:before
                        outline-color #00d08e

        &_button
            margin-bottom 0

            input
                {ibm}
                color white
                width auto
                max-width 100%
                min-width 120px
                padding-top 20px
                padding-bottom 20px
