@keyframes gradient {
    from {
        background url(../img/header-bg-earth.png) center / cover no-repeat, linear-gradient(-27deg, #30b4b8 21%, #59dcba 50%, #8dba4e 78%) bottom / 150%
    }
    50% {
        background url(../img/header-bg-earth.png) center / cover no-repeat, linear-gradient(-27deg, #30b4b8 21%, #59dcba 50%, #8dba4e 78%) center / 100%
    }
    to {
        background url(../img/header-bg-earth.png) center / cover no-repeat, linear-gradient(-27deg, #30b4b8 21%, #59dcba 50%, #8dba4e 78%) top / 150%
    }
}

.header
    font-size 0
    position relative
    background url(../img/header-bg-earth.png) center / cover no-repeat, linear-gradient(-27deg, #30b4b8 21%, #59dcba 50%, #8dba4e 78%) center
    text-align right
    padding-top 10px
    padding-bottom 20px
    animation gradient 10s ease infinite alternate

    @media (min-width 480px)
        padding-bottom 45px

    @media (min-width 1150px)
        height 100%
        padding-top 35px
        padding-bottom 35px

    &__row
        clearfix()

    &__logo
        width 100px
        float left

        @media (min-width 768px)
            width 120px

        @media (min-width 1150px)
            width 130px

    &__panel
        padding-top 26px
        padding-bottom 26px

        @media (min-width 768px)
            padding-top 34px
            padding-bottom 34px

        @media (min-width 1150px)
            padding-top 18px
            padding-bottom 0
            float right

    &__menu
        margin 10px -10px 20px -10px

        @media (min-width 664px)
            margin-bottom 30px
            background linear-gradient(-27deg, rgba(48, 180, 184, 0.7) 10%, rgba(89, 220, 186, 0.7) 45%, #59dcba 55%, rgba(141, 186, 78, 0.7) 90%) center
            border-top 2px solid rgba(255, 255, 255, 0.7)
            border-bottom 2px solid rgba(255, 255, 255, 0.7)

        @media (min-width 768px)
            margin-bottom 40px
            margin-top 15px

        @media (min-width 1150px)
            background none
            border none
            margin 18px 4.5% 0 0

        @media (min-width 1265px)
            margin-right 96px

        li
            @media (min-width 664px)
                margin-top -2px
                margin-bottom -2px

            &:not(:last-child)
                @media (min-width 664px)
                    margin-right 20px

                @media (min-width 768px)
                    margin-right 45px

                @media (min-width 1150px)
                    margin-right 0

    &__content
        text-align left
        position relative

        @media (min-width 1150px)
            position absolute
            top 50%
            left 10px
            right 10px
            transform translateY(-160px)

    &__text-block
        @media (min-width 1150px)
            display block
            padding-right 505px

    &__stages
        margin-left auto
        margin-right auto

        @media (min-width 1150px)
            position absolute
            top -40px
            right 0

    .container
        position relative
        overflow hidden
        height 100%

    &_bounty
        height 100%

        .header__panel
            float none
            padding-top 18px
            margin-bottom 30px

            @media (min-width 480px)
                margin-bottom 35px

        .container
            overflow visible

        .header__content
            @media (min-width 550px)
                position absolute
                top 50%
                left 10px
                right 10px
                transform translateY(-170px)

            @media (min-width 768px)
                transform translateY(-170px)

            @media (min-width 1150px)
                transform translateY(-130px)

        .header__text-block
            padding-top 0
            margin-bottom 40px

            @media (min-width 480px)
                margin-bottom 50px

            @media (min-width 768px)
                margin-bottom 60px

            @media (min-width 1150px)
                margin-bottom 70px

    &_news
        padding-bottom 10px

        @media (min-width 480px)
            padding-bottom 10px

        @media (min-width 768px)
            padding-bottom 10px

        @media (min-width 1150px)
            padding-bottom 35px
            height auto

        .container
            overflow visible

            &:after
                content ""
                display table
                clear both

        .header__panel
            padding-top 28px
            padding-bottom 0px
            min-height 0

            @media (min-width 768px)
                padding-top 32px
                padding-bottom 32px

    &_faq
        padding-bottom 0

        @media (min-width 480px)
            padding-bottom 0

        @media (min-width 768px)
            padding-bottom 0

        @media (min-width 1150px)
            padding-bottom 35px
            height auto

        .container
            overflow visible

        .header__panel
            padding-bottom 0
            min-height 100px

            @media (min-width 768px)
                min-height 120px

        .header__menu
            margin-bottom 10px
            margin-top 10px

            @media (min-width 480px)
                margin-bottom 10px
                margin-top 10px

            @media (min-width 768px)
                margin-bottom 15px
                margin-top 10px

            @media (min-width 1150px)
                margin 18px 4.5% 0 0

            @media (min-width 1265px)
                margin-right 96px

