.link-referral
    &__link-text
        hyphens()
        font-weight 700
        font-size-func(12)
        margin-bottom 10px

        &_big
            font-size-func(16)

    &__link
        hyphens()
        {ibm}
        color #007db3
        font-size-func(18)
        font-weight 700
        margin-right 25px
        margin-bottom 20px
        max-width 100%

        &_small
            font-size-func(12)

    &__link-btn
        {ibm}
        padding-top 13px
        padding-bottom 13px
        min-width 195px
        margin-bottom 20px
        max-width 100%
