.link-referral
    &__link-text
        hyphens()
        font-weight 700
        font-size-func(14)
        margin-bottom 10px

        @media (min-width 768px)
            font-size-func(16)

        &_big
            font-size-func(16)

    &__link
        hyphens()
        {ibm}
        color #007db3
        font-size-func(16)
        font-weight 700
        margin-right 25px
        margin-bottom 20px
        max-width 100%

        &_small
            font-size-func(14)

            @media (min-width 768px)
                font-size-func(16)

    &__link-btn
        {ibm}
        padding-top 13px
        padding-bottom 13px
        margin-left 5px
        margin-right 5px
        min-width 195px
        margin-bottom 20px
        max-width 100%
