.link-referral
    &__table
        td
            hyphens()

            &:last-child
                text-align center
                width 245px

    &__link-text
        hyphens()
        font-weight 700
        font-size-func(14)
        margin-bottom 10px

        @media (min-width 768px)
            font-size-func(16)

        &_big
            font-size-func(16)

    &__link
        hyphens()
        color #007db3
        font-size-func(16)
        font-weight 700

        &_small
            font-size-func(14)

            @media (min-width 768px)
                font-size-func(16)

    &__link-btn
        {ibm}
        padding-top 13px
        padding-bottom 13px
        min-width 195px
        max-width 100%
