.logo
    {ibm}
    text-align center
    padding 2px

    img
        {ibt}
        width 100%
        height auto
        border-radius 50%

    a
        {ibt}

        &:focus
            outline none

            img
                box-shadow 0 0 0 1px #8dba4e, 0 0 0 2px white
