.main
    position relative
    background-color white
    font-size-func(20)
    margin-bottom 40px

    @media (min-width 480px)
        margin-bottom 60px

    @media (min-width 768px)
        margin-bottom 80px

    @media (min-width 992px)
        margin-bottom 100px

    @media (min-width 1265px)
        margin-bottom 140px

    &:after
        @media (min-width 768px)
            content inline('rectangle.png')
            position absolute
            left 50%
            bottom 0
            transform translate(-40%, 110px)

    &__nav-left
        position fixed
        top 0
        bottom 0
        height 100%
        width 211px
        padding-top 25px
        text-align center

    &__content-right
        padding-left 251px
        padding-right 40px

    &_fixed
        height 95%

        @media (min-width 768px)
            height 100%

    &_one-page
        flex 1 0 auto
        display flex
        flex-direction row

        > div
            width 100%
            align-items stretch

        &+.footer
            flex 0 0 auto

    &_account
        margin-bottom 0 !important

        &:after
            display none

        .main
            &__logo
                margin-bottom 25px
