.main
    position relative
    background-color white
    font-size-func(20)

    &__news-videos-wrap
        background-image url(../img/news-bg.jpg)
        background-size cover

    &_account
        background none

        .main
            &__nav-left
                position fixed
                top 0
                bottom 0
                left 0
                height 100%
                width 231px
                transform translateX(-231px)
                text-align center
                overflow-y auto
                transition all 0s ease-out 0s
                box-shadow none
                transition transform .4s ease, box-shadow .4s ease

                @media (min-width 768px)
                    transform translateX(0) !important
                    box-shadow 0 0 10px 0px rgba(0, 0, 0, 0.4) !important

                &.open
                    transform translateX(0)
                    box-shadow 0 0 50px 0px rgba(0, 0, 0, 0.4)
