nav-left__icon()
    cursor pointer
    border-radius 1px
    height 3px
    width 25px
    background-color #76bb43
    position absolute
    display block
    content ''
    transition all .2s ease .2s, transform .2s ease 0s

.nav-left
    background linear-gradient(to bottom, #76bb43 40%, #00ddba 80%) 355px

    &__button
        position fixed
        left 7.5px
        top 7.5px
        width 25px
        height 20px
        background-color transparent
        border none
        z-index 11

        &:hover
            cursor pointer

        &.open
            .nav-left__icon
                background-color transparent

                &:before
                    background-color white
                    transform rotate(45deg)
                    top 0
                    transition all .2s ease 0s, transform .2s ease .2s

                &:after
                    background-color white
                    transform rotate(-45deg)
                    bottom 0
                    transition all .2s ease 0s, transform .2s ease .2s

    &__icon
        position absolute
        top 50%
        left 0
        transform translatey(-50%)
        nav-left__icon()

        &:before, &:after
            nav-left__icon()

        &:before
            top 8px

        &:after
            bottom 8px
