.news-list

    &__item
        padding-top 15px
        padding-bottom 23px

        @media (min-width 480px)
            padding-top 29px
            padding-bottom 46px

        &:not(:last-child)
            border-bottom 1px solid $grey-dark-color
