.panel
    {ibm}
    text-align right

    .jq-selectbox
        {ibm}
        margin-right 10px
        border-radius 10px
        padding-left 10px
        min-width 61px
        max-width 61px
        transition all .1s ease

        @media (min-width 480px)
            max-width 120px

        @media (min-width 768px)
            max-width 150px

        &:hover
            background-color white

            .jq-selectbox__select
                color #3d5364

            .jq-selectbox__trigger-arrow
                border-top-color #3d5364

        &.focused
            border-bottom 0

        &.opened
            background-color white
            border-bottom-left-radius 0
            border-bottom-right-radius 0

            .jq-selectbox__select
                color #3d5364

            .jq-selectbox__trigger-arrow
                border-top-color #3d5364

        &__select
            background transparent
            color white
            text-shadow none
            box-shadow none
            border none
            font-weight 700
            text-transform uppercase
            font-size-func(14)
            padding-left 0
            padding-right 20px

        &.focused
            .jq-selectbox__select
                border none

        &__trigger
            border-left none
            width 20px

        &__trigger-arrow
            border-top-color rgba(255, 255, 255, 0.6)
            border-width 4px
            top 50%
            left none
            right 0
            transform translate(-4px, -2px)

        &__dropdown
            margin 0
            left 0
            box-shadow none
            border none
            border-top-left-radius 0
            border-top-right-radius 0
            border-bottom-left-radius 10px
            border-bottom-right-radius 10px
            font-family GothamPro, arial, verdana, sans-serif

        li
            padding 7px 0
            text-align center
            transition all .1s ease

            &:last-child
                border-bottom-left-radius 10px
                border-bottom-right-radius 10px

            &:hover
                background-color rgba(0, 208, 142, 0.5)

            &.selected
                background-color #00d08e

                &:hover
                    background-color rgba(0, 208, 142, 0.5)

    &__login
        {ibm}
        text-transform uppercase
        color white
        text-decoration none
        font-weight 700
        font-size-func(14)
        padding 8px 10px
        min-width 125px
        max-width 125px
        text-align center
        border 2px solid white
        border-radius 100px
        transition all .15s ease
        ellipsis()

        @media (min-width 480px)
            max-width 200px

        @media (min-width 768px)
            min-width 191px
            max-width 400px
            padding-top 16px
            padding-bottom 16px

        @media (min-width 992px)
            max-width 650px

        @media (min-width 1265px)
            max-width 800px

        &:hover
            color #3d5364
            background-color white

        &:focus
            outline none
            background-color rgba(255, 255, 255, 0.3)

        &:active
            transform scale(.95)
