.potential
    padding-top 15px
    padding-bottom 18px
    font-size 0

    @media (min-width 480px)
        padding-top 19px
        padding-bottom 22px

    @media (min-width 768px)
        padding-top 22px
        padding-bottom 32px

    @media (min-width 992px)
        padding-top 27px
        padding-bottom 42px

    @media (min-width 1265px)
        padding-top 32px
        padding-bottom 77px

    &__text
        font-size 14px
        line-height 24px
        line-height 2.4rem
        text-align center

        @media (min-width 768px)
            text-align left

        p
            margin-bottom 0

    &__title
        hyphens()

        h2
            text-align center
            font-weight 300
            font-size-func(35)
            margin-top 0
            margin-bottom 25px

            @media (min-width 480px)
                font-size-func(38)
                margin-bottom 40px

            @media (min-width 768px)
                font-size-func(41)
                margin-bottom 50px

            @media (min-width 992px)
                font-size-func(44)
                margin-bottom 60px

            @media (min-width 1265px)
                font-size-func(48)
                margin-bottom 78px

    &__chart
        @media (min-width 992px)
            {ibt}
            width 49%
            margin-right 2%

    &__text
        hyphens()
        margin-bottom 40px

    &__chart-wrap
        text-align center
        margin-bottom 40px

        @media (min-width 992px)
            margin-left 0
            margin-right 0
            margin-bottom 0

        img
            {ibt}
            width 100%
            max-width 600px
            margin-bottom 20px

    &__chart-desc
        hyphens()
        font-size-func(16)
        font-weight 700

    &__table
        border-collapse collapse
        border 2px solid #00ddb6

        @media (min-width 992px)
            {ibt}
            width 49%

        thead
            background-color #00ddb6
            color white
            text-align center

            td
                font-size 20px
                padding 12px
                font-weight 300

                @media (min-width 480px)
                    font-size 21px
                    padding 25px

                @media (min-width 768px)
                    font-size 22px
                    padding 30px

                @media (min-width 992px)
                    font-size 23px
                    padding 35px

                @media (min-width 1265px)
                    font-size 24px
                    padding 30px

        tbody
            tr
                border-bottom 2px solid #00ddb6
                transition all .2s ease

                &:nth-child(2n-1)
                    background-color #bff6ed

                &:nth-child(2n)
                    background-color #9ef2e3

                &:last-child
                    border-bottom none

                &:hover
                    background-color #9ef2e3 !important

            &:hover
                tr
                    background-color #bff6ed

            td
                font-size 16px
                padding 6px 14px

                &:last-child
                    text-align right

                @media (min-width 480px)
                    font-size 18px
                    padding 7px 16px

                @media (min-width 768px)
                    font-size 23px
                    padding 8px 18px

                @media (min-width 992px)
                    font-size 25px
                    padding 9px 20px

                @media (min-width 1265px)
                    font-size 27px
                    padding 10px 22px
