.potential
    font-size 0
    background-color #bff9f1
    background-image url(../img/bg-earth-g.png)
    background-repeat no-repeat
    background-position center

    &__text
        hyphens()
        margin-bottom 20px
        font-size-func(14)
        line-height 24px
        line-height 2.4rem
        text-align justify

        @media (min-width 480px)
            margin-bottom 30px

        @media (min-width 768px)
            margin-bottom 40px
            font-size-func(16)

        p
            text-shadow 0 0 0 #bff9f1
            margin-bottom 0
            text-indent 35px

    &__chart
        text-align center
        margin-left 0
        margin-right 0
        margin-bottom 20px

        @media (min-width 480px)
            margin-bottom 30px

        @media (min-width 768px)
            margin-bottom 40px

        img
            {ibt}
            width 100%
            margin-bottom 20px
