.product
    font-size 0
    overflow hidden
    background-color #f8fcfb

    &__img
        height 300px
        background-image url(../img/product-img-m.png)
        background-repeat no-repeat
        background-position center

        @media (min-width 768px)
            {ibm}
            width 50%

    &__list
        margin-bottom 20px

        @media (min-width 768px)
            {ibm}
            width 50%
            margin-bottom 0

        ul
            font-size-func(14)
            padding-left 0
            list-style none
            position relative
            text-align center

        li
            hyphens()
            text-align left
            position relative
            padding-left 40px

            &:after
                content ''
                position absolute
                left -5px
                top 50%
                transform translateY(-50%)
                width 30px
                height 30px
                border 1px solid rgba(61, 83, 100, 0.5)

            &:before
                content ''
                position absolute
                left 0
                top 50%
                transform translateY(-80%) rotate(-45deg)
                width 20px
                height 10px
                border-bottom 2px solid $dark-color
                border-left 2px solid $dark-color

            &:not(:last-child)
                margin-bottom 20px

