.profit
    font-size 0
    background-color #f8fcfb

    &__text
        font-size-func(14)
        line-height 24px
        line-height 2.4rem
        text-align center

        @media (min-width 768px)
            text-align left

        @media (min-width 992px)
            {ibm}
            width 49%

        p
            margin-bottom 25px

        ul
            padding-left 15px
            text-align left

    &__chart-wrap
        text-align center
        margin-left 0
        margin-right 0

        @media (min-width 992px)
            {ibm}
            width 49%
            margin-left 2%

        img
            {ibt}
            width 100%
            max-width 600px
            margin-bottom 20px

    &__chart-desc
        font-size-func(16)
        font-weight 700
