.progress
    &__stages-name
        margin-bottom 3px
        padding-left 0
        lis-style none

        .progress__stage-item
            color #03ddb6
            font-weight 700
            ellipsis()

    &__stages-money
        padding-left 0
        lis-style none

    &__stage-item
        {ibt}
        width 33.3333%
        font-size-func(14)
        text-transform uppercase
        padding-top 6px
        padding-bottom 6px
        transition all .15s ease
        ellipsis()

        &:first-child
            border-right 1px solid #e8e8e8

        &:nth-child(2)
            text-align center
            border-right 1px solid #e8e8e8

        &:last-child
            text-align right

        &_active
            border-right 3px solid #03ddb6

    &__bar
        background linear-gradient(267deg, #30b4b8 8%, #8dba4e 50%, #30b4b8 92%)
        text-align center
        padding-left 0
        padding-top 6px
        padding-bottom 6px
        border-radius 50px
        margin-bottom 3px

        li
            {ibt}
            width 9px
            height 9px
            background-color rgba(255, 255, 255, 0.4)
            border-radius 50%
            transition all .15s ease

            &:not(:last-child)
                margin-right 5px

            &.active
                background-color white
                box-shadow 0 0 5px 3px rgba(255, 244, 114, .7)

    &_center
        .progress__stage-item
            text-align center

            &:last-child
                text-align center
