.roadmap
    overflow hidden

    &__slider
        position relative
        transition all 1s ease
        margin-top 100px

        @media (min-width 820px)
            width 60%
            margin-top auto
            margin-left auto

        @media (min-width 992px)
            padding-top 10px
            width 55%

        @media (min-width 992px)
            width 50%

        .roadmap__roadmap-item, .roadmap-item, .slick-slide, .slick-current, .slick-active
            outline none

    &__dots
        position absolute
        width 100%
        top -65px
        left 50%
        transform translateX(-50%)
        margin-top 0
        padding-left 0
        text-align center
        counter-reset section

        @media (min-width 820px)
            width 0
            top 0
            left -36%

        @media (min-width 992px)
            left -46%

        @media (min-width 992px)
            left -56%

        li
            width 30px
            height 30px
            position relative
            list-style none
            border-radius 50%
            text-align center
            border-width 8px
            border-style solid
            {ibm}

            @media (min-width 820px)
                display block

            @media (min-width 992px)
                width 44px
                height 44px
                border-width 12px

            &:not(:last-child)
                margin-right 8px

                @media (min-width 480px)
                    margin-right 31px

                @media (min-width 820px)
                    margin-bottom 30px

                @media (min-width 992px)
                    margin-bottom 40px

                &:before
                    content ''
                    position absolute
                    height 10px
                    width 20px
                    left 100%
                    top 50%
                    transform translateY(-50%)

                    @media (min-width 480px)
                        width 45px

                    @media (min-width 820px)
                        width 10px
                        height 35px
                        top 100%
                        left 50%
                        transform translateX(-50%)
                        margin-top 7px

                    @media (min-width 992px)
                        width 14px
                        height 45px
                        margin-top 10px

            &:hover
                cursor pointer

                button
                    color #00b7bb

            &:nth-child(2n)
                button
                    top 200%
                    left 50%
                    transform translateX(-50%)

                    @media (min-width 820px)
                        top 50%
                        transform translateY(-50%)
                        left 200%
                        text-align left

                    &:before
                        top -25px
                        left 50%
                        transform translateX(-50%)

                        @media (min-width 820px)
                            top 50%
                            transform translateY(-50%)
                            left -25px

                        @media (min-width 992px)
                            left -35px

            &:nth-child(2n-1)
                button
                    bottom 200%
                    left 50%
                    transform translateX(-50%)

                    @media (min-width 820px)
                        top 50%
                        transform translateY(-50%)
                        bottom auto
                        right 200%
                        left auto
                        text-align right

                    &:before
                        bottom -25px
                        left 50%
                        transform translateX(-50%)

                        @media (min-width 820px)
                            top 50%
                            transform translateY(-50%)
                            left auto
                            bottom auto
                            right -25px

                        @media (min-width 992px)
                            right -36px

            &:first-child
                background-color #00cccf
                border-color #00b7ba

                &:before
                    background linear-gradient(180deg, #00b7ba 10%, #00c1b3 90%)

            &:nth-child(2)
                background-color #00cccf
                border-color #00b7ba

                &:before
                    background linear-gradient(180deg, #00b7ba 10%, #00c1b3 90%)

            &:nth-child(3)
                background-color #00d5d0
                border-color #00c1b3

                &:before
                    background linear-gradient(180deg, #00c1b3 10%, #00ceab 90%)

            &:nth-child(4)
                background-color #00d5d0
                border-color #00c1b3

                &:before
                    background linear-gradient(180deg, #00c1b3 10%, #00ceab 90%)

            &:nth-child(5)
                background-color #00e4bf
                border-color #00ceab

                &:before
                    background linear-gradient(180deg, #00ceab 10%, #00d8a4 90%)

            &:nth-child(6)
                background-color #00e4bf
                border-color #00ceab

                &:before
                    background linear-gradient(180deg, #00ceab 10%, #00d8a4 90%)

            &:nth-child(7)
                background-color #00e4bf
                border-color #00d8a4

                &:before
                    background linear-gradient(180deg, #00ceab 10%, #00d8a4 90%)

            &:nth-child(8)
                background-color #00e4bf
                border-color #00d8a4

                &:before
                    background linear-gradient(180deg, #00ceab 10%, #00d8a4 90%)

        button
            {ibt}
            hyphens()
            position absolute
            background-color transparent
            border none
            padding 0
            transition all .5s ease
            outline none
            color $dark-color
            font-weight 300
            font-size-func(16)
            font-family GothamPro

            @media (min-width 820px)
                width 135px

            @media (min-width 992px)
                width 200px
                font-size-func(20)

            &:hover
                cursor pointer

            &:before
                content ''
                position absolute
                background-color transparent
                width 8px
                height 8px
                border-radius 50%
                transition all .5s ease

                @media (min-width 992px)
                    width 11px
                    height 11px

        .slick-active
            button
                color #00b7bb
                font-weight 400

                &:before
                    background-color white
                    box-shadow 0 0 15px 4px white

    &__arrows
        position absolute
        background-color transparent
        font-size 0
        height 15px
        width 15px
        top 6px
        border none
        border-left 1px solid rgba(61, 83, 100, 0.8)
        border-top 1px solid rgba(61, 83, 100, 0.8)
        padding 0
        transition all .5s ease

        @media (min-width 820px)
            display none !important

        &:hover
            cursor pointer
            border-color rgba(61, 83, 100, 1)

        &:focus
            outline none

        &_prev
            left 2%
            top 50%
            transform rotate(-45deg)

            &:hover, &:focus
                transform rotate(-45deg) scale(1.2)

            &.slick-disabled
                &:hover, &:focus
                    transform rotate(-45deg)

        &_next
            right 2%
            top 50%
            transform rotate(135deg)

            &:hover, &:focus
                transform rotate(135deg) scale(1.2)

            &.slick-disabled
                &:hover, &:focus
                    transform rotate(135deg)

        &.slick-disabled
            opacity .3

    .slick-list
        position relative
        width 90%
        margin-left auto
        margin-right auto

        @media (min-width 820px)
            width auto

    .slick-dotted.slick-slider
        margin-bottom 0
