.roadmap-item
    position relative
    text-align center

    @media (min-width 768px)
        text-align left

    &__title
        ellipsis()
        overflow hidden
        margin-left 14%
        margin-right 14%
        background-color white

        @media (min-width 768px)
            margin-left 0
            margin-right 0

        h3
            font-size-func(24)
            font-weight 300
            margin-top 0
            margin-bottom 20px

            @media (min-width 480px)
                margin-bottom 25px

            @media (min-width 768px)
                margin-bottom 34px

            @media (min-width 992px)
                margin-bottom 38px

            @media (min-width 1265px)
                margin-bottom 43px

    &__text
        position relative
        font-size-func(14)
        font-weight 300
        line-height 24px
        line-height 2.4rem
        hyphens()

        p
            &:not(:last-child)
                margin-bottom 18px

                @media (min-width 480px)
                    margin-bottom 23px

                @media (min-width 768px)
                    margin-bottom 28px

                @media (min-width 992px)
                    margin-bottom 30px

                @media (min-width 768px)
                    margin-bottom 32px
