.roadmap
    padding-top 30px
    padding-bottom 5px

    @media (min-width 480px)
        padding-top 38px
        padding-bottom 7px

    @media (min-width 820px)
        padding-top 45px
        padding-bottom 25px
        min-height 576px

    @media (min-width 992px)
        min-height 632px

    @media (min-width 992px)
        padding-top 55px
        padding-bottom 30px
        min-height 793px

    @media (min-width 1265px)
        padding-top 65px
        padding-bottom 49px

    &__title
        hyphens()

        h2
            text-align center
            font-weight 300
            font-size-func(35)
            margin-top 0
            margin-bottom 25px

            @media (min-width 480px)
                font-size-func(38)
                margin-bottom 40px

            @media (min-width 820px)
                font-size-func(41)
                margin-bottom 55px

            @media (min-width 992px)
                font-size-func(44)
                margin-bottom 75px

            @media (min-width 1265px)
                font-size-func(48)
                margin-bottom 95px

    &__slider
        position relative
        transition all 1s ease
        margin-top 100px

        @media (min-width 820px)
            width 60%
            margin-top auto
            margin-left auto

        @media (min-width 992px)
            padding-top 10px
            width 55%

        @media (min-width 992px)
            width 50%

        .roadmap__roadmap-item, .roadmap-item, .slick-slide, .slick-current, .slick-active
            outline none

    &__dots
        position absolute
        width 100%
        top -65px
        left 50%
        transform translateX(-50%)
        margin-top 0
        padding-left 0
        text-align center
        counter-reset section

        @media (min-width 820px)
            width 0
            top 0
            left -36%

        @media (min-width 992px)
            left -46%

        @media (min-width 992px)
            left -56%

        li
            width 30px
            height 30px
            position relative
            list-style none
            border-radius 50%
            text-align center
            border-width 8px
            border-style solid
            {ibm}

            @media (min-width 820px)
                display block

            @media (min-width 992px)
                width 44px
                height 44px
                border-width 12px

            &:not(:last-child)
                margin-right 8px

                @media (min-width 480px)
                    margin-right 31px

                @media (min-width 820px)
                    margin-bottom 70px

                @media (min-width 992px)
                    margin-bottom 110px

                &:before
                    content ''
                    position absolute
                    height 10px
                    width 20px
                    left 100%
                    top 50%
                    transform translateY(-50%)

                    @media (min-width 480px)
                        width 45px

                    @media (min-width 820px)
                        width 10px
                        height 84px
                        top 100%
                        left 50%
                        transform translateX(-50%)
                        margin-top 7px

                    @media (min-width 992px)
                        width 14px
                        height 114px
                        margin-top 10px

            &:hover
                cursor pointer

                &:after
                    color #00b7bb

            &:after
                counter-increment section
                content counter(section)
                position absolute
                white-space nowrap
                color $dark-color
                transition all .5s ease
                font-weight 300
                font-size-func(16)
                transform translateX(-50%)
                left 50%
                ellipsis()

                @media (min-width 820px)
                    max-width 140px
                    content attr(data-name)
                    left auto

                @media (min-width 992px)
                    max-width 205px
                    font-size-func(20)
                    top 0

            &:nth-child(2n)
                &:after
                    bottom 200%

                    @media (min-width 820px)
                        right 100%
                        bottom auto
                        margin-right 10px
                        top 50%
                        transform translateY(-50%)

                    @media (min-width 992px)
                        margin-right 20px

            &:nth-child(2n-1)
                &:after
                    top 200%

                    @media (min-width 820px)
                        left 100%
                        margin-left 10px
                        top 50%
                        transform translateY(-50%)

                    @media (min-width 992px)
                        margin-left 20px

            &:first-child
                background-color #00cccf
                border-color #00b7ba

                &:before
                    background linear-gradient(180deg, #00b7ba 10%, #00c1b3 90%)

            &:nth-child(2)
                background-color #00cccf
                border-color #00b7ba

                &:before
                    background linear-gradient(180deg, #00b7ba 10%, #00c1b3 90%)

            &:nth-child(3)
                background-color #00d5d0
                border-color #00c1b3

                &:before
                    background linear-gradient(180deg, #00c1b3 10%, #00ceab 90%)

            &:nth-child(4)
                background-color #00d5d0
                border-color #00c1b3

                &:before
                    background linear-gradient(180deg, #00c1b3 10%, #00ceab 90%)

            &:nth-child(5)
                background-color #00e4bf
                border-color #00ceab

                &:before
                    background linear-gradient(180deg, #00ceab 10%, #00d8a4 90%)

            &:nth-child(6)
                background-color #00e4bf
                border-color #00ceab

                &:before
                    background linear-gradient(180deg, #00ceab 10%, #00d8a4 90%)

            &:nth-child(7)
                background-color #00e4bf
                border-color #00d8a4

                &:before
                    background linear-gradient(180deg, #00ceab 10%, #00d8a4 90%)

            &:nth-child(8)
                background-color #00e4bf
                border-color #00d8a4

                &:before
                    background linear-gradient(180deg, #00ceab 10%, #00d8a4 90%)

        button
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            border-radius 50%
            border none
            background-color transparent
            width 8px
            height 8px
            padding 0
            font-size 0
            transition all .5s ease
            outline none

            @media (min-width 992px)
                width 11px
                height 11px

            &:hover
                cursor pointer

        .slick-active
            &:after
                color #00b7bb
                font-weight 400

            button
                background-color white
                box-shadow 0 0 15px 4px white

    &__arrows
        position absolute
        background-color transparent
        font-size 0
        height 15px
        width 15px
        top 6px
        border none
        border-left 1px solid rgba(61, 83, 100, 0.8)
        border-top 1px solid rgba(61, 83, 100, 0.8)
        padding 0
        transition all .5s ease

        @media (min-width 820px)
            display none !important

        &:hover
            cursor pointer
            border-color rgba(61, 83, 100, 1)

        &:focus
            outline none

        &_prev
            left 10%
            transform rotate(-45deg)

            &:hover, &:focus
                transform rotate(-45deg) scale(1.2)

            &.slick-disabled
                &:hover, &:focus
                    transform rotate(-45deg)

        &_next
            right 10%
            transform rotate(135deg)

            &:hover, &:focus
                transform rotate(135deg) scale(1.2)

            &.slick-disabled
                &:hover, &:focus
                    transform rotate(135deg)

        &.slick-disabled
            opacity .3

    .slick-list
        position relative
