.roadmap-item
    position relative
    text-align center

    @media (min-width 820px)
        text-align left

    &__title
        hyphens()
        overflow hidden
        margin-bottom 20px
        margin-left 14%
        margin-right 14%

        @media (min-width 480px)
            margin-bottom 25px

        @media (min-width 820px)
            margin-bottom 34px
            margin-left 0
            margin-right 0

        @media (min-width 992px)
            margin-bottom 38px

        @media (min-width 1265px)
            margin-bottom 43px

        h3
            {ibm}
            font-size-func(24)
            background-color white
            font-weight 300
            margin-top 0
            margin-bottom 0
            padding-left 10px
            padding-right 10px
            max-width 100%

            @media (min-width 820px)
                padding-left 0
                padding-right 0

    &__text
        position relative
        font-size-func(14)
        line-height 24px
        line-height 2.4rem
        hyphens()
        text-align justify

        @media (min-width 768px)
            font-size-func(16)

        p
            text-indent 35px

            &:not(:last-child)
                margin-bottom 18px

                @media (min-width 480px)
                    margin-bottom 23px

                @media (min-width 820px)
                    margin-bottom 28px

                @media (min-width 992px)
                    margin-bottom 30px

                @media (min-width 768px)
                    margin-bottom 32px
