.section
    padding-top 30px
    padding-bottom 30px

    @media (min-width 480px)
        padding-top 38px
        padding-bottom 38px

    @media (min-width 820px)
        padding-top 45px
        padding-bottom 45px

    @media (min-width 992px)
        padding-top 55px
        padding-bottom 55px

    @media (min-width 1265px)
        padding-top 65px
        padding-bottom 65px

    &__title
        hyphens()
        margin-bottom 25px
        text-align center

        @media (min-width 480px)
            margin-bottom 40px

        @media (min-width 820px)
            margin-bottom 55px

        @media (min-width 992px)
            margin-bottom 75px

        @media (min-width 1265px)
            margin-bottom 95px

        h2
            font-weight 300
            font-size-func(32)
            margin-top 0
            margin-bottom 0

            @media (min-width 480px)
                font-size-func(36)

            @media (min-width 820px)
                font-size-func(40)

            @media (min-width 992px)
                font-size-func(44)

            @media (min-width 1265px)
                font-size-func(48)
