.slider-videos
    &__videos-item
        display block
        position relative
        height 154px
        overflow hidden
        background-color white
        width 260px
        transition all 1s ease

        @media (min-width 480px)
            height 237px
            width 400px

        @media (min-width 590px)
            height 237px

        @media (min-width 690px)
            margin-right 40px
            height 326px
            width 550px

        @media (min-width 1285px)
            height 222px
            width 375px

        @media (max-width 900px)
            opacity 0

        @media (max-width 1284px)
            opacity .5
            transform scale(.9)

        &:focus
            outline none

        &.slick-current
            opacity 1
            transform scale(1)

    &__youtube
        background-position center
        background-repeat no-repeat
        position relative
        display inline-block
        overflow hidden
        transition all 200ms ease-out
        cursor pointer
        width inherit
        height inherit

    &__play
        background inline('play-icon.svg') no-repeat
        background-position center
        background-size 15%
        position absolute
        height 100%
        width 100%
        opacity .8
        transition all 0.2s ease-out

        &:hover
            opacity 1
