.social
    padding-left 0
    list-style none
    font-size 0
    margin-top 0
    margin-bottom 0

    li
        {ibm}
        position relative
        transition all .1s ease

        &:not(:last-child)
            margin-right 20px

        &:after
            content ''
            position absolute
            width 100%
            height 3px
            background-color transparent
            top 100%
            left 0
            transition all .1s ease

        &:hover
            .social__item
                transform translateY(-5px)

            &:after
                background-color white

    &__item
        {ibm}
        width 31px
        height 28px
        background-position center
        background-repeat no-repeat
        transition all .1s ease
        border-radius 5px

        &:focus
            outline none
            box-shadow 0 0 0 2px #59dcba, 0 0 0 3px white

        &_linkedin
            background-image inline('linkedin.png')

        &_facebook
            background-image inline('facebook.png')

        &_instagram
            background-image inline('instagram.png')

        &_vkontakte
            background-image inline('vkontakte.png')

        &_youtube
            background-image inline('youtube.png')

        &_google
            background-image inline('google.png')

    &_grey
        li
            &:hover
                &:after
                    background-color $grey-color

        .social__item
            &:focus
                outline none
                box-shadow 0 0 0 2px #ededed, 0 0 0 3px $grey-color

            &_linkedin
                background-image inline('linkedin-grey.png')

            &_facebook
                background-image inline('facebook-grey.png')

            &_instagram
                background-image inline('instagram-grey.png')

            &_vkontakte
                background-image inline('vkontakte-grey.png')

            &_youtube
                background-image inline('youtube-grey.png')

    &_circle
        li
            &:after
                display none

            &:hover
                .social__item
                    transform translateY(0)
                    background-color darken(#c8ccce, 15%)

        .social__item
            border-radius 50%
            background-color #c8ccce
            width 30px
            height 30px
            background-size 60%
            transition all .3s ease

            &:focus
                outline none
                box-shadow 0 0 0 1px white, 0 0 0 3px #c8ccce

            &_linkedin
                background-size 50%

            &_facebook
                background-size 35%
