.social
    padding-left 0
    list-style none
    font-size 0
    margin-top 0
    margin-bottom 0

    li
        {ibm}

        &:not(:last-child)
            margin-right 20px

    &__item
        {ibm}
        width 31px
        height 28px
        background-position center
        background-repeat no-repeat

        &_linkedin
            background-image inline('linkedin.png')

        &_facebook
            background-image inline('facebook.png')

        &_instagram
            background-image inline('instagram.png')

        &_vkontakte
            background-image inline('vkontakte.png')

        &_youtube
            background-image inline('youtube.png')
