.social
    padding-left 0
    list-style none
    font-size 0
    margin-top 0
    margin-bottom 0

    li
        {ibm}
        position relative
        transition all .1s ease

        &:not(:last-child)
            margin-right 10px

            @media (min-width 768px)
                margin-right 20px

        &:after
            content ''
            position absolute
            width 100%
            height 3px
            background-color transparent
            top 100%
            left 0
            transition all .1s ease

        &:hover
            .social__item
                transform translateY(-5px)

            &:after
                background-color white

    &__item
        {ibm}
        width 31px
        height 28px
        background-position center
        background-size 90%
        background-repeat no-repeat
        transition all .1s ease
        border-radius 5px

        &:focus
            outline none
            box-shadow 0 0 0 2px #59dcba, 0 0 0 3px white

        &_linkedin
            background-image inline('linkedin.svg')

        &_facebook
            background-image inline('facebook.svg')

        &_instagram
            background-image inline('instagram.svg')

        &_vkontakte
            background-image inline('vk.svg')

        &_youtube
            background-image inline('youtube.svg')

        &_twitter
            background-image inline('twitter.svg')

        &_telegram
            background-image inline('telegram.svg')

        &_google
            background-image inline('google.svg')

    &_grey
        li
            &:hover
                &:after
                    background-color $grey-color

        .social__item
            &:focus
                outline none
                box-shadow 0 0 0 2px #ededed, 0 0 0 3px $grey-color

            &_linkedin
                background-image inline('linkedin-g.svg')

            &_facebook
                background-image inline('facebook-g.svg')

            &_instagram
                background-image inline('instagram-g.svg')

            &_vkontakte
                background-image inline('vk-g.svg')

            &_youtube
                background-image inline('youtube-g.svg')

            &_twitter
                background-image inline('twitter-g.svg')

            &_telegram
                background-image inline('telegram-g.svg')

    &_circle
        li
            &:after
                display none

            &:hover
                .social__item
                    transform translateY(0)
                    background-color darken(#c8ccce, 15%)

        .social__item
            border-radius 50%
            background-color #c8ccce
            width 30px
            height 30px
            background-size 60%
            transition all .3s ease

            &:focus
                outline none
                box-shadow 0 0 0 1px white, 0 0 0 3px #c8ccce

    &_colored
        li
            &:not(:last-child)
                margin-right 5px

            &:hover
                .social__item
                    transform none

            &:focus
                outline none
                box-shadow 0 0 0 5px white, 0 0 0 7px red

        .social__item
            border-radius 5px
            width 35px
            height 35px
            transition all .25s ease
            background-size 70%

            &:focus
                outline none

            &_linkedin
                background-image inline('linkedin.svg')
                background-color #0577b4

                &:hover
                    background-color darken(#0577b4, 15%)


            &_facebook
                background-image inline('facebook.svg')
                background-color #33539d

                &:hover
                    background-color darken(#33539d, 15%)

            &_instagram
                background-image inline('instagram.svg')
                background-color #ec2048

                &:hover
                    background-color darken(#ec2048, 15%)

            &_vkontakte
                background-image inline('vk.svg')
                background-color #3d6ea3

                &:hover
                    background-color darken(#3d6ea3, 15%)

            &_youtube
                background-image inline('youtube.svg')
                background-color #fe0301

                &:hover
                    background-color darken(#fe0301, 15%)

            &_twitter
                background-image inline('twitter.svg')
                background-color #21a1f1

                &:hover
                    background-color darken(#21a1f1, 15%)


            &_telegram
                background-image inline('telegram.svg')
                background-color #2ea9dc

                &:hover
                    background-color darken(#2ea9dc, 15%)
