.table
    font-size-func(12)
    width 100%
    border-collapse collapse
    table-layout fixed

    &_la-auto
        table-layout auto

    &__text
        &_green
            color #76bb43

    caption
        font-weight 700
        font-size-func(12)
        text-align left
        margin-bottom 12px

    thead
        color #9ea9b1

    tbody
        tr
            &:nth-child(2n-1)
                background-color #f8f9fd

    td
        border 1px solid #dddddd
        padding 12px 14px
