.team
    font-size 0

    &__team-item-wrap
        margin-bottom 18px

        @media (min-width 480px)
            margin-bottom 28px

        @media (min-width 768px)
            margin-bottom 32px
            text-align center

        @media (min-width 992px)
            margin-bottom 38px

        @media (min-width 1265px)
            margin-bottom 40px

    &__more
        text-align center
        hyphens()
        margin-left auto
        margin-right auto

        button
            font-size-func(24)
            background-color #00d08e
            color white
            font-weight 300
            padding-bottom 5px
            transition all .1s ease
            padding 10px 20px
            border-radius 30px
            transition all .5s ease
            font-family GothamPro
            cursor pointer
            border none

            &:focus
                outline none
                box-shadow 0 0 0 1px white, 0 0 0 2px #00bc80

            &:hover, &:focus
                background-color #00bc80

            &:active
                transform scale(.95)
