.team-item
    position relative
    text-align center
    margin-bottom 40px

    &:first-child
        @media (min-width 768px)
            margin-right 1.25%

        @media (min-width 1265px)
            margin-right 4.25%

    &:nth-child(2)
        @media (min-width 768px)
            margin-right 1.25%

        @media (min-width 1265px)
            margin-right 4.25%

    &:last-child
        margin-bottom 0

        @media (min-width 768px)
            margin-right 0

    @media (min-width 768px)
        {ibt}
        width 32.5%
        margin-bottom 0
        text-align left

    @media (min-width 1265px)
        width 30.5%

    &__img
        width 60%
        min-width 300px
        margin-left auto
        margin-right auto
        margin-bottom 20px

        @media (min-width 768px)
            width 100%
            min-width auto

        img
            {ibt}
            width 100%
            height 220px
            object-fit cover

            @media (min-width 480px)
                height 260px

            @media (min-width 768px)
                height 180px

            @media (min-width 992px)
                height 230px

            @media (min-width 1265px)
                height 254px

    &__name
        margin-bottom 7px
        font-size-func(24)
        hyphens()

    &__post
        font-size-func(14)
        font-style italic
        text-transform uppercase
        margin-bottom 7px
        hyphens()

    &__text
        font-size-func(14)
        margin-bottom 17px
        hyphens()

    &__line
        width 80%
        border-top 1px solid #d6d6d6
        border-bottom none
        margin-bottom 10px

        @media (min-width 768px)
            width 100%
