.text-block
    color white
    text-align center
    margin-bottom 25px

    @media (min-width 480px)
        margin-bottom 35px

    @media (min-width 768px)
        max-width 800px
        margin-left auto
        margin-right auto
        margin-bottom 45px

    @media (min-width 1150px)
        margin-bottom 0
        text-align left
        max-width none
        margin-left 0
        margin-right 0

    &__title
        margin-bottom 10px
        hyphens()

        @media (min-width 480px)
            margin-bottom 15px

        @media (min-width 768px)
            margin-bottom 25px

        @media (min-width 1265px)
            margin-bottom 45px

        h1
            font-size-func(24)
            margin-bottom 0
            margin-top 0
            font-weight 400

            @media (min-width 480px)
                font-size-func(32)

            @media (min-width 768px)
                font-size-func(40)

            @media (min-width 1265px)
                font-size-func(48)

    &__subtitle
        font-size-func(14)
        line-height 1.6em
        margin-bottom 15px
        hyphens()

        @media (min-width 768px)
            font-size-func(16)
            margin-bottom 25px

        @media (min-width 1265px)
            font-size-func(18)
            margin-bottom 40px

    &__links-wrap
        padding-left 0
        list-style none
        margin-top 0
        margin-bottom 20px

        li
            margin-left 0
            margin-right 0
            margin-bottom 10px

            @media (min-width 480px)
                {ibm}

            &:not(:last-child)
                @media (min-width 480px)
                    margin-right 10px

                @media (min-width 1265px)
                    margin-right 20px

    &__link
        {ibm}
        text-transform uppercase
        color white
        text-decoration none
        font-weight 700
        font-size-func(14)
        padding 8px 10px
        border 2px solid white
        border-radius 100px
        min-width 150px
        max-width 190px
        transition all .15s ease
        text-align center
        ellipsis()

        @media (min-width 768px)
            font-size-func(16)
            padding 16px 10px

        @media (min-width 992px)
            padding 8px 10px
            width 150px

        @media (min-width 1265px)
            padding 16px 10px
            width 190px

        &:hover
            color $dark-color
            background-color white

        &:focus
            outline none
            background-color rgba(255, 255, 255, 0.3)

        &:active
            transform scale(.95)
