.text-page
    padding-top 30px
    padding-bottom 30px

    @media (min-width 480px)
        padding-top 38px
        padding-bottom 38px

    @media (min-width 768px)
        padding-top 45px
        padding-bottom 45px

    @media (min-width 992px)
        padding-top 55px
        padding-bottom 55px

    @media (min-width 1265px)
        padding-top 65px
        padding-bottom 65px

    &__title
        hyphens()

        h1
            text-align center
            font-weight 300
            font-size-func(30)
            margin-top 0
            margin-bottom 24px

            @media (min-width 480px)
                font-size-func(34)
                margin-bottom 28px

            @media (min-width 768px)
                font-size-func(38)
                margin-bottom 32px

            @media (min-width 992px)
                font-size-func(42)
                margin-bottom 36px

            @media (min-width 1265px)
                font-size-func(46)
                margin-bottom 40px

    &__content
        margin-bottom 50px

        li
            &:not(:last-child)
                margin-bottom 5px

        a
            color $dark-color
            text-decoration none
            border-bottom 1px solid $dark-color

            &:hover
                color #56768e

    &__text
        font-size-func(14)
        line-height 2em
        hyphens()
        text-align justify

        @media (min-width 768px)
            font-size-func(16)

        p
            margin-bottom 10px
            text-indent 35px

        p+h2
            margin-top 30px

        h2
            font-weight 400
            font-size-func(25)
            margin-bottom 15px
            margin-top 0
            text-align center

        ol, ul
            padding-left 15px
            margin-top 0
            margin-bottom 20px

        a
            color $turquoise-color

        &_list
            li
                font-size-func(25)
                padding-top 20px
                padding-bottom 20px

            h2
                text-align left

            p
                font-size-func(14)

                @media (min-width 768px)
                    font-size-func(16)

    &__date
        margin-top 30px
        text-align right
        font-style italic
