.video
    background-color #f8fcfb
    font-size 0

    &__videos-wrap
        text-align center
        margin-bottom 30px

        @media (min-width 1250px)
            {ibm}
            width 48%
            margin-right 4%
            margin-bottom 0

    &__videos-item
        position relative
        height (222/1.4)px
        width (375/1.4)px
        overflow hidden
        background-color white
        transition all 1s ease
        margin-left auto
        margin-right auto

        @media (min-width 480px)
            height (222*1.2)px
            width (375*1.2)px

        @media (min-width 768px)
            height (222*1.5)px
            width (375*1.5)px

        &:focus
            outline none

    &__youtube
        background-position center
        background-repeat no-repeat
        background-size 110%
        position relative
        display inline-block
        overflow hidden
        transition all 200ms ease-out
        cursor pointer
        width inherit
        height inherit

    &__play
        background inline('play-icon.svg') no-repeat
        background-position center
        background-size 15%
        position absolute
        height 100%
        width 100%
        opacity .8
        transition all 0.2s ease-out

        &:hover
            opacity 1

    &__text
        font-size-func(14)
        line-height 24px
        line-height 2.4rem

        @media (min-width 1250px)
            {ibm}
            width 48%
